<launch>
	<rosparam param="use_sim_time">true</rosparam>
	<node pkg="rosbag" type="play" name="player" args="--clock -s 20 /home/ras/catkin_ws/src/ras_rplidar/ScanBagFiles/no_tf.bag" />
	<node pkg="tf" type="static_transform_publisher" name="laser_to_odom" 
args="0 0 0 0 0 1 0 /base_link /laser 30" />
	<include file="$(find ras_maze_launch)/launch/maze_visualize.launch">
		<arg name="map_file" value="lab_maze_2017.txt" />
  		<arg name="x_offset" value="0.0"/>
	    <arg name="y_offset" value="0.0"/>
	    <arg name="theta_offset" value="0.0"/>
	</include>
	<node pkg="ras_odometry" type="odometry" name="odometry"/>
	<node name="particle_filter" type="particle_filter" pkg="ras_particle_filter" output="screen" />

	<param name="predict_freq" type="int" value="8" />
	<param name="update_freq" type="int" value="8" />
	<rosparam param="start_pose">[0.2, 0.4, 1.570796]</rosparam>
	<param name="Lambda_psi" type="double" value="0.001" />
	<param name="M" type="int" value="200" />
	<rosparam param="R">[0.00001, 0.003, 0.0025]</rosparam>
	<rosparam param="Q">[0.0025, 1e-12]</rosparam>
	<param name="part_bound" type="double" value="0.0" />
	<rosparam param="bound">[0.0, 1.0, 0.0, 1.0]</rosparam>
	<param name="n_particles_to_pub" type="int" value="200" />
	<param name="init_particle_spread" type="double" value="0.03" />
	<param name="n_phi" type="int" value="18" />
	<param name="noise_speed" type="bool" value="false" />

	<!-- set this to the right map file -->
	<param name="map_file" type="string" value="/home/ras/catkin_ws/src/ras_maze/ras_maze_map/maps/lab_maze_2017.txt" />

</launch>
